*.log
*.css.map
node_modules
.DS_Store
.idea
!/.gitignore
#.gitignore*
.*.swp
.env.local
.env.*.local
nginx/logs
php/logs

node
node/logs
node/public

node/webpack/ssl.crt
node/webpack/ssl.csr
node/webpack/ssl.key
node/webpack/ssl.pem


mysql/logs
mysql/data
mysql/dumps/

webpack-settings.js
shell/push-staging.sh
shell/pushstaging.sh
snippets/php/8greenbottles_wp_scripts_objects.php
snippets/php/cached-users.txt
snippets/php/wp_scripts_objects.php

php/app/

#macos' time machine stuff
.com.apple.backupd.mdmv*